* {
    margin: 0;
    padding: 0;
    font-family: 'Antonio', sans-serif;
}

nav {
    align-items: center;
}

.header {
    height: auto;
    width: 100%;
    background-color: #d9a816;
    padding-bottom: 15px;
}

/* .title {
    font-size: 500px;
} */

.body {
    background-color: whitesmoke;
    height: auto;
    width: 100%;
}

.nav-links {
    flex: 1;
    text-align: center;
}

.nav-links ul li {
    list-style: none;
    display: inline-block;
    padding: 10px;
    /* position: relative; */
}

.nav-links ul li::after {
    content: '';
    width: 0%;
    height: 2px;
    background: white;
    display: block;
    margin: auto;
    transition: 0.37s;
}

.nav-links ul li:hover::after {
    width: 100%;
}

.nav-links ul li a {
    color: white;
    text-decoration: none;
    font-size: 20pt;
}

.motto {
    color: #d9a816;
    text-decoration: none;
    font-size: 100pt;
}

.main {
    text-decoration: none;
    font-size: 25pt;
    padding-left: 200px;
    padding-right: 200px;
    padding-top: 30px;
}

.caption {
    font-size: 14pt;
    width: 500px;
}